In [23]:
# Load the data and check the actual column names
import pandas as pd
import numpy as np

df = pd.read_csv(r"C:\Users\dell\Downloads\marketing_campaign.csv",sep='\	',encoding='ascii')
print('Original column names:')
print(df.columns.tolist())
print('\
Dataset shape:', df.shape)
print('\
First few rows:')
print(df.head())

Original column names:
['ID', 'Year_Birth', 'Education', 'Marital_Status', 'Income', 'Kidhome', 'Teenhome', 'Dt_Customer', 'Recency', 'MntWines', 'MntFruits', 'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts', 'MntGoldProds', 'NumDealsPurchases', 'NumWebPurchases', 'NumCatalogPurchases', 'NumStorePurchases', 'NumWebVisitsMonth', 'AcceptedCmp3', 'AcceptedCmp4', 'AcceptedCmp5', 'AcceptedCmp1', 'AcceptedCmp2', 'Complain', 'Z_CostContact', 'Z_Revenue', 'Response']
Dataset shape: (2240, 29)
First few rows:
     ID  Year_Birth   Education Marital_Status   Income  Kidhome  Teenhome  \
0  5524        1957  Graduation         Single  58138.0        0         0
1  2174        1954  Graduation         Single  46344.0        1         1
2  4141        1965  Graduation       Together  71613.0        0         0
3  6182        1984  Graduation       Together  26646.0        1         0
4  5324        1981         PhD        Married  58293.0        1         0

  Dt_Customer  Recency  MntWines  ...  NumWebVisitsMonth  AcceptedCmp3  \
0  04-09-2012       58       635  ...                  7             0
1  08-03-2014       38        11  ...                  5             0
2  21-08-2013       26       426  ...                  4             0
3  10-02-2014       26        11  ...                  6             0
4  19-01-2014       94       173  ...                  5             0

   AcceptedCmp4  AcceptedCmp5  AcceptedCmp1  AcceptedCmp2  Complain  \
0             0             0             0             0         0
1             0             0             0             0         0
2             0             0             0             0         0
3             0             0             0             0         0
4             0             0             0             0         0

   Z_CostContact  Z_Revenue  Response
0              3         11         1
1              3         11         0
2              3         11         0
3              3         11         0
4              3         11         0

[5 rows x 29 columns]

In [24]:
# Importing required libraries
import pandas as pd
from datetime import datetime

# Step 1: Load the dataset
df = pd.read_csv(r"C:\Users\dell\Downloads\marketing_campaign.csv",sep='\	',encoding='ascii')

# Check for duplicates
print('Duplicate rows before cleaning:', df.duplicated().sum())

# Step 2: Standardize column names (lowercase with underscores)
df.columns = [col.lower().replace(' ', '_') for col in df.columns]

# Step 3: Handle missing values in income column
# Replace empty strings with NaN
df['income'] = df['income'].replace('', pd.NA)
# Convert income to numeric, coercing errors to NaN
df['income'] = pd.to_numeric(df['income'], errors='coerce')
# Fill missing income values with median
income_median = df['income'].median()
print('Income median:', income_median)
df['income'] = df['income'].fillna(income_median)

# Step 4: Convert dt_customer to datetime format
df['dt_customer'] = pd.to_datetime(df['dt_customer'], format='%d-%m-%Y')

# Step 5: Ensure correct data types for numeric columns
numeric_columns = ['year_birth', 'income', 'kidhome', 'teenhome', 'recency',
                   'mntwines', 'mntfruits', 'mntmeatproducts', 'mntfishproducts',
                   'mntsweetproducts', 'mntgoldprods', 'numdealspurchases',
                   'numwebpurchases', 'numcatalogpurchases', 'numstorepurchases',
                   'numwebvisitsmonth', 'acceptedcmp3', 'acceptedcmp4',
                   'acceptedcmp5', 'acceptedcmp1', 'acceptedcmp2', 'complain',
                   'z_costcontact', 'z_revenue', 'response']
for col in numeric_columns:
    df[col] = pd.to_numeric(df[col], errors='coerce')

# Step 6: Standardize marital_status categories
# Map 'Alone', 'Absurd', 'YOLO' to 'Single'
df['marital_status'] = df['marital_status'].replace(['Alone', 'Absurd', 'YOLO'], 'Single')

# Step 7: Calculate age from year_birth
# Using 2025 as current year
current_year = 2025
df['age'] = current_year - df['year_birth']

# Step 8: Remove outliers based on age (keep ages 18-100)
df = df[(df['age'] >= 18) & (df['age'] <= 100)]

# Step 9: Save the cleaned dataset
df.to_csv('marketing_campaign_cleaned.csv', index=False)

# Display basic information about the cleaned dataset
print('Cleaned Dataset Info:')
print(df.info())
print('\nCleaned Dataset Shape:', df.shape)
print('\nMissing Values:')
print(df.isnull().sum())
print('\nMarital Status Categories:')
print(df['marital_status'].value_counts())

Duplicate rows before cleaning: 0
Income median: 51381.5
Cleaned Dataset Info:
<class 'pandas.core.frame.DataFrame'>
Index: 2237 entries, 0 to 2239
Data columns (total 30 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   2237 non-null   int64
 1   year_birth           2237 non-null   int64
 2   education            2237 non-null   object
 3   marital_status       2237 non-null   object
 4   income               2237 non-null   float64
 5   kidhome              2237 non-null   int64
 6   teenhome             2237 non-null   int64
 7   dt_customer          2237 non-null   datetime64[ns]
 8   recency              2237 non-null   int64
 9   mntwines             2237 non-null   int64
 10  mntfruits            2237 non-null   int64
 11  mntmeatproducts      2237 non-null   int64
 12  mntfishproducts      2237 non-null   int64
 13  mntsweetproducts     2237 non-null   int64
 14  mntgoldprods         2237 non-null   int64
 15  numdealspurchases    2237 non-null   int64
 16  numwebpurchases      2237 non-null   int64
 17  numcatalogpurchases  2237 non-null   int64
 18  numstorepurchases    2237 non-null   int64
 19  numwebvisitsmonth    2237 non-null   int64
 20  acceptedcmp3         2237 non-null   int64
 21  acceptedcmp4         2237 non-null   int64
 22  acceptedcmp5         2237 non-null   int64
 23  acceptedcmp1         2237 non-null   int64
 24  acceptedcmp2         2237 non-null   int64
 25  complain             2237 non-null   int64
 26  z_costcontact        2237 non-null   int64
 27  z_revenue            2237 non-null   int64
 28  response             2237 non-null   int64
 29  age                  2237 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(26), object(2)
memory usage: 541.8+ KB
None

Cleaned Dataset Shape: (2237, 30)

Missing Values:
id                     0
year_birth             0
education              0
marital_status         0
income                 0
kidhome                0
teenhome               0
dt_customer            0
recency                0
mntwines               0
mntfruits              0
mntmeatproducts        0
mntfishproducts        0
mntsweetproducts       0
mntgoldprods           0
numdealspurchases      0
numwebpurchases        0
numcatalogpurchases    0
numstorepurchases      0
numwebvisitsmonth      0
acceptedcmp3           0
acceptedcmp4           0
acceptedcmp5           0
acceptedcmp1           0
acceptedcmp2           0
complain               0
z_costcontact          0
z_revenue              0
response               0
age                    0
dtype: int64

Marital Status Categories:
marital_status
Married     864
Together    579
Single      486
Divorced    231
Widow        77
Name: count, dtype: int64